@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MajorMono";
  src: url("/MajorMonoDisplay-Regular.ttf") format("truetype");
}

.font-major {
  font-family: "MajorMono";
}

body {
  background-color: black;
}
