@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish-Black";
  src: url("/fonts/Mulish-Medium.ttf") format("truetype");
}

.font-major {
  font-family: "Mulish-Black";
}

body {
  background-color: black;
  overflow: hidden;
}
